.login {
    display: flex;
    align-items: center;
    flex-direction: column;

    header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px 5px;
        border-bottom: 1px solid #d5d5d5;
        background-color: #fff;

        .login_title {
            font-size: 14px;
        }
    }

    .shop-roll {
        width: 196px;
        height: 148px;
    }
}
